<div class="dashboard-comp" fxLayout="row" fxLayoutAlign="center center">
	<div id="loading" fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoadingView">GAC</div>
	<div class="dashboard-comp-content" fxLayout="row"  fxLayoutAlign="start start">
		<div  class="col" fxFlex fxLayout="column" fxLayoutAlign="start center">
			<img class="box" src='assets/img/banner.png' width="400px" height="80px">
			<div  fxLayout="row" fxLayoutAlign="start start">
				<app-current-weather-item class="box  box-md"></app-current-weather-item>
				<app-clock class="box box-sm"></app-clock>
			</div>
			<app-weather class="box"></app-weather>
		</div>
		<div  class="col" fxFlex fxLayout="column" fxLayoutAlign="start center">
			<app-weather-week class="box"></app-weather-week>
		</div>
		<div  class="col col-big" fxFlex fxLayout="column" fxLayoutAlign="start center">
			<app-windy [iframeUrl]="iframeWindy1Url" class="box box-big"></app-windy>
			<app-windy [iframeUrl]="iframeWindy3Url" class="box box-big"></app-windy>
			<app-windy [iframeUrl]="iframeWindy2Url" class="box box-big"></app-windy>
		</div>
		<div  class="col" fxFlex fxLayout="column" fxLayoutAlign="start center">
			<app-teetimes class="box"></app-teetimes>
			<app-competitions class="box"></app-competitions>
		</div>
	</div>
</div>
