.dashboard-comp {
	#loading{
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		color:white;
		z-index: 999;
	}
	.dashboard-comp-content {
		padding: 18px;
		flex-wrap: wrap;

		.col {
			// height: 100%;
			width: 420px;
			// min-width: 400px;
			// max-width: 400px;
			// flex-wrap: wrap;

			>div {
				// width: 100%;

			}
		}

		.box {
			background: white;
			margin:10px;
			// margin: 0.5em 1em;
			// border: 1px solid;
			border-radius: 3px;
			width: 380px;
			// min-width: 400px;
			// max-width: 400px;
			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
		}

		.box-sm {
			width: 140px;
			min-width: 140px;
			max-width: 140px;
		}

		.box-md {
			width: 220px;
			min-width: 220px;
			max-width: 220px;
		}

		.box-big {
			width: 600px;
			min-width: 600px;
			max-width: 600px;
		}


		.col-big {
			width: 620px;
			min-width: 620px;
			max-width: 620px;
		}


		.col>.box:last-child {
			// margin-bottom: 1em;
		}

		.col>.box:first-child {
			// margin-top: 1em;
		}

		app-weather {
			// overflow: auto;
			overflow: hidden;
			// height: 500px;

		}

		app-weather,
		app-current-weather-item,
		app-weather-week,
		app-teetimes,
		app-windy,
		app-competitions {
			width: 100%;

		}

		app-clock {
			max-width: 140px;
		}

		app-clock,
		app-current-weather-item {
			height: 200px;
		}

		app-windy {
			height: 400px;
		}

		app-weather-week {

			min-height: 663px;
		}
	}
}
