.weather-comp {
    width: 1600px;
    height: 100%;
    padding-top: 0px;
    position: relative;

	#iframe-weather {
		top: -459px;
		left: -194px;
		width: calc(100% + 42px) !important;
		height: 200vh !important;
		overflow: hidden;
	}
}
