<div class="current-weather-item-comp" fxLayout="column" fxLayoutAlign="start center">
	<div fxFlex fxLayout="row" fxLayoutAlign="center center">
		<div fxLayoutAlign="center center" [innerHTML]="weather && weather.icon | sanitizeHtml" class="weather-item icon"></div>
			<div *ngIf="weather" [innerHTML]="weather && weather.temp | sanitizeHtml" class="weather-item temp"></div>
	</div>
	<div fxFlex fxLayout="column" fxLayoutAlign="start center">
		<p>PLEUMEUR BODOU</p>
		<p>En ce moment</p>
	</div>
</div>
